html, body {
    margin: 0;
    color: #000;
    overflow-x: hidden;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

p {
    line-height: 24px;
    font-weight: 300;
}

a, a:hover {
    color: #e00918;
    text-decoration: none;
}

span {
    color: #e00918;
}

ul {
    padding: 0;
}

hr {
    width: 100%;
    height: 1px;
    background-color: #d9dcdf;
    border: none;
    margin: 30px 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.button {
    background-color: #e21725;
    color: #fff;
    padding: 15px 25px;
    text-transform: uppercase;
    border: 2px solid #e21725;
    border-radius: 30px;
    font-weight: 700;
    font-size: 12px;
    float: left;
}

.button:hover {
    background-color: #fff;
    color: #e21725;
    border: 2px solid #e21725;
    text-decoration: none;
}

/* Header*/
header {
    padding: 30px 0 0 0;
}

/*#menu-toggle {*/
/*    position: absolute;*/
/*    top: 30%;*/
/*    left: 78%;*/
/*}*/

#menu-toggle img {
    width: 20px;
}

a.logo-wrapper {
    margin-left: 20px;
    text-align: center;
    display: inline-block;
    max-width: calc(100% - 50px);
}

.logo {
    max-width: 150px;
    width: 100%;
}

form.main-search-wrapper {
    margin: 10px auto;
}

form.main-search-wrapper input {
    border: 1px solid #d9dcdf;
    color: #66747f;
    font-size: 12px;
    padding: 15px 25px;
    width: 100%;
    background: url(../images/search.png) #f7f8fa no-repeat right 35px center;
    background-size: 3%;
    outline: none;
}

.notifications {
    float: right;
    margin-left: 120px;
    padding-bottom: 10px;
}

.notifications li:hover {
    cursor: pointer;
}

.notifications i {
    color: #bbc3ca;
    /*font-size: 20px;*/
}

.notifications span {
    background-color: #e21725;
    border-radius: 50%;
    display: inline-block;
    padding: 3px 8px;
    color: #fff;
    width: 20px;
    height: 20px;
    font-weight: 900;
    font-size: 10px;
    position: relative;
    top: -15px;
    left: -10px;
}

#user-info li {
    display: inline-block;
    padding-top: 10px;
}

#user-info li:nth-child(3) {
    margin-top: -10px;
    float: right;
}

#user-info li:nth-child(3) img {
    float: right;
    margin-left: 10px;
    width: 70px;
}

#user-info li:nth-child(3) div {
    display: inline-block;
}

#user-info li:nth-child(3) p {
    margin: 0;
}

#user-info li:nth-child(3) a {
    font-weight: 700;
    color: #e21725;
}

#user-info li:nth-child(3) a {
    text-decoration: none;
}

.username {
    color: #000;
    font-weight: 700;
}


/* Tabs */
.tabs {
    text-align: center;
    margin: -10px 0;
}

.tabs li {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    margin: 0 20px;
    color: #808791;
}

.tabs li:hover {
    color: #000;
    cursor: pointer;
}

.tabs .active {
    border-bottom: 3px solid #e00918;
    padding-bottom: 20px;
    margin-bottom: -20px;
    color: #000;
}

/* Main Content */

.main-videos h2 {
    margin: 20px 0;
}

.video .area img {
    width: 100%;
}

.area {
    position: relative;
}

.duration {
    background-color: #e00918;
    color: #fff;
    padding: 10px 30px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    position: absolute;
    right: 0;
    bottom: 0;
}

p.views {
    color: #343434;
}

.video h2 {
    font-weight: 700;
}

.video h4 {
    font-weight: 600;
}

.video p {
    margin: 0;
    padding: 0;
    color: #757a80;
    line-height: inherit;
}

.video p a {
    color: #e21725;
    text-decoration: none;
}

.video p a:hover {
    color: #000;
    text-decoration: none;
}

.area:hover .mask {
    display: block;
    cursor: pointer;
    opacity: 100;
}

.vertical-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.mask {
    position: absolute;
    background-color: rgba(226, 23, 37, 0.9);
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
}

.mask p {
    color: #fff;
    font-weight: 700;
}

.mask i {
    font-size: 80px;
    color: #fff;
}


.mini {
    list-style: none;
}

.mini h4 {
    margin-top: 13px;
}

.mini p {
    font-size: 12px;
    margin-top: 5px;
}

.mini i {
    font-size: 50px;
}

.mini .duration {
    padding: 8px 20px;
}

.mini .mask p {
    display: none;
}

li.mini:nth-child(2) {
    margin-bottom: 23px;
}

.video h4 {
    margin-top: 15px;
}

.single-channel .video p {
    margin-top: 7px;
}

/* Channel Information Section */

.channel-bio hr {
    margin: 20px 0;
}

.channel-bio p {
    text-align: justify;
}

.channel-bio .button {
    margin-top: 10px;
    margin-bottom: 20px;
}

.channel-name {
    font-weight: 600;
    font-size: 16px;
}

.channel-name img {
    margin-right: 10px;
}

/* Footer*/

footer {
    text-align: center;
    padding: 0 0 20px;
}

footer ul {
    margin: 20px 0;
}

footer li {
    display: inline;
    margin: 0 15px;
}

footer li a:hover {
    text-decoration: none;
    color: #e00918;
}

footer ul#footer-list1 a {
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

footer ul#footer-list2 a {
    font-size: 12px;
    font-weight: 600;
    color: #282626;
}

footer h4 {
    color: #aaa7a7;
    font-weight: 300;
}